# name: Bump version
# on:
#   push:
#     branch:
#       - main
# jobs:
#   if_merged:
#     if: github.event.pull_request.merged == true
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v3
#         with:
#           fetch-depth: "0"
#       - name: Bump version and push tag
#         uses: anothrNick/github-tag-action@1.36.0
#         env:
#           DEFAULT_BUMP: none
#           RELEASE_BRANCHES: main
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#           WITH_V: true
